<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <image_rotate>
            <general_settings>
                <enabled>0</enabled>
                <angle>90</angle>
            </general_settings>
        </image_rotate>
    </default>
</config>
